%p
  Do you want to be pwned?

%p
  Hint: You really don't. Don't submit this with "yes".

%form{action: "/submit", method: "GET"}
  %label{for: "r1"} No
  %input#r1{type: "radio", name: "pwned", value: "no", checked: true}
  %label{for: "r2"} Yes
  %input#r2{type: "radio", name: "pwned", value: "yes", checked: false}
  %br
  %input{type: "submit", value: "Submit"}
